* {
    margin: 0 auto;
    padding: 0;
}

.containerUsers {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    box-sizing: border-box;
    border: 1px solid grey;
    padding: 10px;
    background-color: #ADD8E6FF;
}

.idName, .postDetails {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.linkBtn {

    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
}

.wrapDetails {
    width: 1000px;
}

.userDetails {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ADD8E6FF;
}

.userDetails div {
    font-size: 15px;
    font-weight: 600;
}

.btnPostOfUser, .btnComments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid #ADD8E6FF;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
}

.wrapBtnPostOfUser {
    display: flex;

}


.wrapPosts {
    display: flex;
    flex-wrap: wrap;

}

.postLinkWrap {
    display: flex;
    flex-direction: column;
    border: 3px solid #ADD8E6FF;
    margin-bottom: 10px;
    background-color: #ADD8E6FF;
}

.post {
    border: 3px solid #ADD8E6FF;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    width: 180px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;

}

.linkToPost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    color: #444;
    height: 30px;
    width: 125px;
    border: 3px solid #ADD8E6FF;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
}

.postCommentsContainer {
    width: 1000px;
    background-color: #ADD8E6FF;
}

.postContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
}

.commentsContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-evenly;


}

.commentsWrap {
    box-sizing: border-box;
    border: 3px solid #fff;
    margin: 5px;
    padding: 10px;
    width: 23%;

}
